# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# ***************************************************************
#
# Go to https://github.com/orgs/pds-data-dictionaries/teams to
# find out more information about your applicable team

*       @pds-data-dictionaries/dldd-data-modeling-team

# **************************************************************

# For more information on populating this file, go to
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
