# Object files
*.o
*.pkl
*.pyc

# Libraries
*.lib
*.a

# Eclipse files
.settings/
*.project
*.classpath

# IntelliJ files
.idea/
*.iml

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Temporary files
*~

# other stuff
*.xpr
*.swp
/bin/
.*.swp
*.sublime-*

# Java stuff
*.javac
.gwt/
target/
