<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright © 2019, California Institute of Technology ("Caltech").
U.S. Government sponsorship acknowledged.

All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

• Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
• Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
• Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>Common Errors</title>
    <author email="jordan.h.padams@jpl.nasa.gov">Jordan Padams</author>
  </properties>

  <body>
    <section name="Common Errors">
      <p>
        This document is a living document intended to be a kind of "decoder ring" for data providers attempting to debug common validation errors. It is obviously 
        very light on helpful information at this time, but it will continue to grow as we come across additional use cases.
      </p>
      <p>
        If you would like to contribute to this page, please create a pull request or issue on our <a href="https://github.com/NASA-PDS/validate/">GitHub</a> 
        repository or email the <a href="mailto:pds_operator@jpl.nasa.gov">PDS Operator</a> with input. Thanks in advance for helping your fellow users.
      </p>

      <ul>
        <li><a href="#White_spaces_are_required_error">White spaces are required error</a></li>
        <li><a href="#java.lang.OutOfMemoryError">java.lang.OutOfMemoryError</a></li>
        <li><a href="#No_checksum_found_in_the_manifest_errors">No checksum found in the manifest errors</a></li>
        <li><a href="#error.table.fields_mismatch">error.table.fields_mismatch</a></li>
        <li><a href="#error.label.context_ref_mismatch">error.label.context_ref_mismatch</a></li>
      </ul>
    </section>

    <section name="White spaces are required error">
      
      <p>Execution of the Validate Tool may result in the following message appearing in the log:
      </p>

      <source>
FAIL: file:/Users/.../hi0173794441_9080000_001_r.xml
    FATAL_ERROR  line 1, 55: White spaces are required between publicId and systemId.
      </source>

      <p>The message above is generated by the underlying <a href="http://xerces.apache.org/">Xerces</a> library that is utilized by the Validate Tool for XML Schema validation. Although not very intuitive, the message normally indicates that the XML Schema for the default namespace of the target label is missing. In the example above the default namespace was "http://pds.nasa.gov/pds4/pds/v03" but the XML Schema file describing that namespace (PDS4_PDS_0300a.xsd) was not provided to the tool at runtime.
      </p>
    </section>
      
    <section name="java.lang.OutOfMemoryError">
      <p><b><i>Exception in thread "main" java.lang.OutOfMemoryError: GC overhead limit exceeded</i></b></p>
      
      <p>Running the tool against a large bundle may result in an OutOfMemoryError exception appearing in the standard error similar to the following:
      </p>
      
      <source>
Sep 19, 2017 12:02:39 PM gov.nasa.pds.tools.label.LocationValidator validate
INFO: Using validation style 'PDS4 Directory' for location file:/home/atmos7/anonymous/PDS/data/PDS4/MAVEN/iuvs_calibrated_bundle/
Sep 19, 2017 12:02:39 PM gov.nasa.pds.tools.validate.task.ValidationTask execute
INFO: Starting validation task for location 'file:/home/atmos7/anonymous/PDS/data/PDS4/MAVEN/iuvs_calibrated_bundle/'
Sep 22, 2017 7:07:31 AM gov.nasa.pds.tools.validate.task.ValidationTask execute
INFO: Validation complete for location 'file:/home/atmos7/anonymous/PDS/data/PDS4/MAVEN/iuvs_calibrated_bundle/'
Exception in thread "main" java.lang.OutOfMemoryError: GC overhead limit exceeded      
      </source>
      
      <p>When this OutOfMemoryError exception is thrown, no report is generated. The cause of this issue is due to the tool caching the valdiation results in memory until the end of the validation run. To resolve this issue, the JVM heap space setting allocations should be increased. It is recommended to increase the heap space settings to <i>-Xms4096m -Xmx8192m</i>. The following details how to update these settings in the tool depending on the target platform.
      </p>
      
      <p><i>For Unix-Based Environments,</i> 
      </p>
      
      <p>Update the JVM heap space allocation settings in the <i>pds-validate</i> shell script to the following:
      </p>
      
      <source>
"${JAVA_HOME}"/bin/java -Xms4096m -Xmx8192m -jar ${VALIDATE_JAR} "$@"
      </source>  
      
      <p><i>For Windows Environments,</i> 
      </p>
      
      <p>Update the JVM heap space allocation settings in the <i>pds-validate.bat</i> batch file to the following:
      </p>
      
      <source>
"%JAVA_HOME%"\bin\java -Xms4096m -Xmx8192m -jar "%VALIDATE_JAR%" %*
      </source> 

    </section>
      
    <section name="No checksum found in the manifest errors">
      
      <p>When performing Checksum Manifest file validation, having the wrong base path setting will result in multiple errors like the following:
      </p>
      
      <source>
FAIL: file:/home/pds4/dph_example_archive_VG2PLS/browse/Collection_browse.xml
    ERROR  No checksum found in the manifest for 'file:/home/pds4/dph_example_archive_VG2PLS/browse/Collection_browse.xml'.     
      </source>
      
      <p>To resolve this issue, check that the base path setting correctly resolves the relative file references (if present) in the Checksum Manifest file by looking at the <i>Manifest File Base Path</i> parameter specified at the top of the Validate Tool report. If the base path is incorrect, specify the correct one on the command line using the <i>-B, --base-path</i> flag option.
      </p>
      
    </section>
    
    <section name="error.table.fields_mismatch">
      <p><b>Debugging</b></p>
      <p>The error indicates the fields do not match the table defined in the label. Here are some things you can check to find out where it is failing:</p>
      <ul>
        <li>Table <i>offset</i> value - if the offset is incorrect, the validate reader will start in the incorrect place in the data product, causing the fields to not line up properly. See <a href="https://github.com/NASA-PDS/validate/issues/96">this issue on Github</a> as an example.</li>
        <li>Table <i>field_delimiter</i> - make sure this value is as expected</li>
        <li>Record <i>fields</i> value</li>
      </ul>
    </section>
    
    <section name="error.label.context_ref_mismatch">
      <p><b>Description</b></p>
      <p>
        New to Validae 1.16.0, this feature does a performs a check of the <i>name</i> and <i>type</i> values associated with
        context products that are present in your label (e.g. <i>Target_Identification</i>, <i>Investigation_Area</i>, <i>Observing_System_Component</i>),
        with the values in the context products as registered in the PDS. In order to enable accurate search results, these values need to be the same as much
        as possible.
      </p>
      
      <p><b>Fixing the problem</b></p>
      <p>To fix the problem you have a few options:</p>
      <ul>
        <li>For data archived prior to v1.16.0 - you can either reprocess, note the errors in your readme, or turn off context validation (--skip-context-validation)</li>
        <li>For new data archives - it is highly recommended you either update the context product or the data labels</li>
      </ul>
    </section>
    
  </body>
</document>
