<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright © 2019, California Institute of Technology ("Caltech").
U.S. Government sponsorship acknowledged.

All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

• Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
• Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
• Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Michael.Cayanan@jpl.nasa.gov">Paul Ramirez</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Validate Tool. The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#Quick_Start">Quick Start</a></li>
        <li><a href="#Command-Line_Options">Command-Line Options</a></li>
        <li><a href="#Advanced_Usage">Advanced Usage</a></li>
        <li><a href="#Report_Format">Report Format</a></li>
        <li><a href="#Performance">Performance Metrics and Improvements</a></li>
        <li><a href="errors.html">Common Errors</a></li>
      </ul>

      <p>Note: The command-line examples in this section have been broken into multiple lines for readability. The commands should be reassembled into a single line prior to execution.
      </p>
    </section>

    <section name="Quick Start">
      <p>This section is intended to give a quick and easy way to run the Validate Tool. For a more detailed explanation on other ways to run the tool, go to the <a href="#Advanced_Usage">Advanced Usage</a> section.
      </p>

      <p><b><i>Validating a Product</i></b></p>

      <p>The command below shows the recommended way to validate a single product:
      </p>

      <source>
 % validate product.xml -r validate-report.txt
      </source>

      <p>This validates the given product against the latest core schema and schematron packaged with the tool and writes the results to a file.
      </p>

      <p><b><i>Validating a Bundle</i></b></p>

      <p>The command below shows the recommended way to validate a bundle:
      </p>

      <source>
% validate $HOME/pds/bundle -M checksum-manifest.txt -r validate-report.txt -R pds4.bundle
      </source>

      <p>The <i>-R</i> flag indicates to the tool to apply bundle validation rules to the target bundle. This means that validation at the bundle level will be performed, which includes referential integrity checking among other things. Please see the <a href="#Validation_Rules">Validation Rules</a> section for more details. The <i>-M</i> flag performs additional checksum validation.
      </p>
    </section>

    <section name="Command-Line Options">
      <p>The following shows all command-line options, and can be accessed by running the tool with the -h flag:
      </p>      
      <source>
    --add-context-products &lt;dir/files&gt;   Explicitly specify a JSON file (or
                                         directory of files) containing
                                         additional context product information
                                         used for validation. WARNING: This
                                         should only be used for development
                                         purposes. All context products must be
                                         registered for validity of a product in
                                         an archive.
    --allow-unlabeled-files              Tells the tool to not check for
                                         unlabeled files in a bundle or
                                         collection.
 -B,--base-path &lt;path&gt;                   Specify a path for the tool to use in
                                         order to properly resolve relative file
                                         references found in a checksum manifest
                                         file.
 -C,--catalog &lt;catalog files&gt;            Specify catalog files to use during
                                         validation.
 -c,--config &lt;file&gt;                      Specify a configuration file to set the
                                         tool behavior.
 -D,--no-data-check                      Disable data content validation.
 -E,--max-errors &lt;value&gt;                 Specify the max number of errors that
                                         the tool will report on before
                                         gracefully exiting a validation run.
                                         Default is 100,000.
 -e,--regexp &lt;patterns&gt;                  Specify file patterns to look for when
                                         validating a directory. Each pattern
                                         should be surrounded by quotes. Default
                                         is to look for files ending with a
                                         '.xml' or '.XML' file extension.
 -f,--force                              DEPRECATED: Tool performs validation
                                         against the schema and schematron
                                         specified in a given label by default.
                                         Use -x and/or -S flag(s) to validate
                                         with the core PDS or user-specified
                                         schema and schematron.
 -h,--help                               Display usage.
 -L,--local                              Validate files only in the target
                                         directory rather than recursively
                                         traversing down the subdirectories.
 -M,--checksum-manifest &lt;file&gt;           Specify a checksum manifest file to
                                         perform checksum validation against the
                                         targets being validated.
 -m,--model-version &lt;version&gt;            DEPRECATED: Tool performs validation
                                         against the schema and schematron
                                         specified in a given label by default.
                                         Use -x and/or -S flag(s) to validate
                                         with the core PDS or user-specified
                                         schema and schematron.
 -r,--report-file &lt;file name&gt;            Specify the report file name. Default
                                         is standard out.
 -R,--rule &lt;validation rule name&gt;        Specifies the validation rules to
                                         apply.
                                         (pds4.bundle|pds4.collection|pds4.folde
                                         r|pds4.label|pds3.volume). Default is
                                         to auto-detect based on the contents at
                                         the location specified.
 -S,--schematron &lt;schematron files&gt;      Specify schematron files.
 -s,--report-style &lt;full|json|xml&gt;       Specify the level of detail for the
                                         reporting. Valid values are 'full' for
                                         a full view, 'json' for a json view,
                                         and 'xml' for an XML view. Default is
                                         to see a full report if this flag is
                                         not specified
    --skip-context-validation            Disable context product reference
                                         validation. WARNING: This should only
                                         be used for development purposes only.
                                         All context products must be registered
                                         for validity of a product in an
                                         archive.
    --skip-product-validation            Disables product validation when
                                         attempting to run pds4.bundle or
                                         pds4.collection validation. The
                                         software will perform member integrity
                                         checks but will not validate individual
                                         products or their labels.
    --spot-check-data &lt;num&gt;              Tells the tool to skip every nth
                                         records or lines during data content
                                         validation.
 -t,--target &lt;files,dirs&gt;                Explicitly specify the targets (files,
                                         directories) to validate. Targets can
                                         be specified implicitly as well.
                                         (example: validate product.xml)
    --target-manifest &lt;file&gt;             Specify a manifest file of
                                         files/directory paths to validate.
 -u,--update-context-products            Update the Context Product information
                                         used for validating context product
                                         references in labels.
 -v,--verbose &lt;1|2|3&gt;                    Specify the severity level and above to
                                         include in the human-readable report:
                                         (1=Info, 2=Warning, 3=Error). Default
                                         is Warning and above.
 -V,--version                            Display application version.
 -x,--schema &lt;schema files&gt;              Specify schema files.
      </source>
      
    </section>

    <section name="Advanced Usage">
      <p>This section describes more advanced ways to run the tool, as well as its behaviors and caveats.
      </p>

      <subsection name="Tool Execution">
        <p>This section demonstrates some of the ways that the tool can be executed using the command-line option flags:
        </p>

        <ul>
          <li>Validating a Target Directory</li>
          <li>Validating Against User-Specified Schemas</li>
          <li>Validating Against User-Specified XML Catalogs</li>
          <li>Validating Against User-Specified Schematron Files</li>
          <li>Validating Against Label Specified Schemas and Schematrons</li>
          <li>Spot Checking of Data</li>
          <li>Validating Against an Older Version of the PDS4 Data Model</li>
          <li>Ignoring Sub-Directories During Validation</li>
          <li>Changing Tool Behaviors With The Configuration File</li>
        </ul>

        <p><b><i>Validating a Target Directory</i></b></p>

        <p>The following command demonstrates the validation of a target directory against the core PDS schemas:
        </p>

        <source>
% validate /home/pds/collection
        </source>

        <p><b><i>Validating Against User-Specified Schemas and Schematrons</i></b></p>

        <p>Specifying XML Schemas and schematrons on the command line will allow the Validate Tool to validate against the user-specified schemas and schematrons instead of those packaged with the tool. The following command demonstrates the validation of a single product label against a user-specified schema and schematron:
        </p>

        <source>
% validate /home/pds/dph_example_archive_VG2PLS/data/ele_mom_tblChar.xml -x /home/pds/dph_example_archive_VG2PLS/xml_schema/PDS4_PDS_1700.xsd, /home/pds/dph_example_archive_VG2PLS/xml_schema/PDS4_DPH_1700.xsd -S /home/pds/dph_example_archive_VG2PLS/xml_schema/PDS4_PDS_1700.sch        
        </source>

        <p>The following command demonstrates the validation of a set of target files against a set of user-specified schemas:
        </p>

        <source>
% validate producta.xml, productb.xml -x producta.xsd, productb.xsd
        </source>

        <p><b><i>Validating Against User-Specified XML Catalogs</i></b></p>

        <p>The following command demonstrates the validation of a single data product against a user-specified XML Catalog:
        </p>

        <source>
% validate product.xml -C catalog.xml
        </source>

        <p><b><i>Validating Against Label Specified Schemas and Schematrons</i></b></p>

        <p>The following command demonstrates forcing the tool to validate against the schemas and schematrons specified in a given label.
        </p>

        <source>
% validate product.xml -f
        </source>
        
        <p>Note that validating with the force flag option versus passing in the label specified schemas using the <i>-x</i> flag may yield different validation results. This is due to how the underlying Xerces library treats these 2 scenarios. Basically, with the force flag behavior, namespaces are resolved by matching the element namespace in the label to one of the namespaces declared in the <i>schemaLocation</i> attribute of the label. When passing in schemas using the <i>-x</i> flag, those user given schemas override any schemas specified in the <i>schemaLocation</i> attribute of the label. They are read in and cached in memory prior to the validation step. Namespaces are then resolved by matching the element namespace to one defined in one of those schemas cached in memory.
        </p>

        <p><b><i>Spot Checking of Data</i></b></p>
        
        <p>By default, the tool performs a byte by byte validation of the data content. This can lead to long validation run times for large tables and arrays. So in order to do some quick validation of the data content, the <i>--spot-check-data</i> flag option can be used. The command below demonstrates running the Validate Tool with spot checking turned on: 
        </p>
        
        <source>
% validate product.xml --spot-check-data 100
        </source>
        
        <p>In the above example, assuming the data is a table, the tool will perform content validation on every 100th record in the table. If the data content is an array, the tool will perform content validation on every 100th line in the array.
        </p>

        <p><b><i>Validating Against an Older Version of the PDS4 Data Model</i></b></p>

        <p>The following command demonstrates the validation of a single data product label against version <i>1000</i> (1.0.0.0) of the PDS4 data model:
        </p>

        <source>
% validate product.xml -m 1000
        </source>

        <p><b><i>Ignoring Sub-Directories During Validation</i></b></p>

        <p>By default, the Validate Tool will recursively traverse a target directory during validation. The <i>local</i> flag option is used to tell the Validate Tool to not perform recursion. The following command demonstrates the validation of a target directory without directory recursion:
        </p>

        <source>
% validate /home/pds/collection -L
        </source>

        <p><b><i>Changing Tool Behaviors With The Configuration File</i></b></p>

        <p>A configuration file can be passed into the command-line to change the default behaviors of the tool and to also provide users a way to perform validation with a single flag. For more details on how to setup the configuration file, see the <a href="#Using_a_Configuration_File">Using a Configuration File</a> section.
        </p>

        <p>The following command demonstrates performing validation using a configuration file:
        </p>

        <source>
% validate -c config.txt
        </source>
      </subsection>

      <subsection name="Specifying Targets">
        <p>Targets are validated in the order in which they are specified on the command-line. They can be specified implicitly and explicitly.
        </p>

        <p>To specify targets implicitly, it is best to specify them first on the command-line before any other command-line option flags. The following command demonstrates the validation of an implicitly defined, single target product label:
        </p>
        <source>
% validate product.xml
        </source>

        <p>The following command demonstrates the validation of implicitly defined, multiple targets:
        </p>
        <source>
% validate product.xml, /home/pds/collection
        </source>

        <p>Note: Implicit targets should not be specified after option flags that allow multiple arguments (see example below). Unexpected results can occur.
        </p>
        <source>
% validate -x product.xsd product.xml
        </source>

        <p>In this example, the Validate Tool will inadvertently treat the implicit target, <i>product.xml</i>, as a schema file.
        </p>

        <p>Targets can be specified both implicitly and explicitly at the same time. Targets specified implicitly are validated first, followed by those that are specified explicitly with the target flag.
        </p>

        <p>The following command demonstrates the validation of multiple product labels, specified both implicitly and explicitly:
        </p>

        <source>
% validate producta.xml, productb.xml -t productc.xml, /home/pds/collection
        </source>

        <p>In this example, <i>producta.xml</i> and <i>productb.xml</i> will get validated first, then <i>productc.xml</i> and the product labels in <i>/home/pds/collection</i> will get validated next.
        </p>

        <p>In each scenario above, the target product(s) were the equivalent of observational or document products. The data model also consists of bundle and collection products, which in turn reference other products. When the Validate Tool encounters one of these products, it traverses the inventory associated with that product and validates each product referenced as well as the target product.
        </p>
      </subsection>

      <subsection name="Validation Rules">
        <p>The Validate Tool provides the capability of doing various additional checks passed the usual PDS4 label validation. This is done through the <i>-R, --rule</i> flag option. The valid values are the following:
        </p>
        
        <ul>
          <li>pds4.label</li>
          <li>pds4.folder</li>
          <li>pds4.collection</li>
          <li>pds4.bundle</li>
          <li>pds3.volume</li>
        </ul>
        
        <p>If the <i>-R</i> flag is not specified on the command-line, the default behavior is to use the <i>pds4.label</i> rule for target file inputs and to use the <i>pds4.folder</i> rule for target directory inputs. This section details the checks that are made for each of the rule types. The command-line run examples below reference the example PDS4 Archive Bundle that can be found on the <a href="https://pds.jpl.nasa.gov/pds4/doc/examples/">PDS4 web site</a>.
        </p>
        
        <p><b><i>pds4.label</i></b></p>
        
        <p>The <i>pds4.label</i> validation rule will:
        </p>
        
        <ul>
          <li>Check that a product label conforms to a given schema and schematron.</li>
          <li>Check that files referenced in a product label exist.</li>
          <li>Check that the file references in a product label and the file on the file system match case.</li>
          <li>Check that file reference checksums in a product label matches their actual checksums, if present.</li>
          <li>Perform checksum validation against a Checksum Manifest file, if supplied.</li>
        </ul>
        
        <p>The following example demonstrates validating a product label using the default <i>pds4.label</i> validation rule:
        </p>
        
        <source> 
%> validate /home/pds/dph_example_archive_VG2PLS/data/ele_mom_tblChar.xml
        </source>
        
        <p><b><i>pds4.folder</i></b></p>
        
        <p>The <i>pds4.folder</i> validation rule allows the tool to do a file-by-file validation using the <i>pds4.label</i> rule on each file found in the target directory.
        </p>
        
        <p>The following example demonstrates performing a file-by-file validation on a target directory: 
        </p>
        
        <source>
%> validate /home/pds/dph_example_archive_VG2PLS        
        </source>
        
        <p><b><i>pds4.collection</i></b></p>
        
        <p>The <i>pds4.collection</i> validation rule applies the <i>pds4.label</i> validation rule on each product label found within a target collection. In addition, it will:
        </p>
        
        <ul>
          <li>Check that file names follow the file-naming rules as defined in section 6C.1.1 of the PDS4 Standards Reference.</li>
          <li>Check that file names do not match the prohibitied file names as defined in section 6C.1.2 of the PDS4 Standards Reference.</li>
          <li>Check that file names do not contain the prohibitied base names as defined in section 6C.1.4 of the PDS4 Standards Reference.</li>
          <li>Check that directory names follow directory-naming rules as defined in section 6C.2.1 of the PDS4 Standards Reference.</li>
          <li>Check that directory names do not match prohibited directory names as defined in section 6C.2.3 of the PDS4 Standards Reference.</li>
          <li>Check that all files in the target collection are referenced by some label.</li>
          <li>Perform referential integrity checking among the target collection and its members.</li>
          <li>Verify that the LID of the collection is used as the base of the LIDs of products that are members of the collection.</li>
        </ul>
        
        <p>The following example demonstrates applying a PDS4 Collection validation rule on a target collection:
        </p>
        
        <source>
%> validate /home/pds/dph_example_archive_VG2PLS/data -R pds4.collection
        </source>
        
        <p>Note that the <i>-e</i> flag option to filter on specific files is ignored when validating under the <i>pds4.collection</i> rules.
        </p>
        
        <p><b><i>pds4.bundle</i></b></p>
        
        <p>The <i>pds4.bundle</i> validation rule applies the <i>pds4.collection</i> validation rule on each collection found within a target collection. In addition, it will:
        </p>
        
        <ul>
          <li>Check that files and directories at the root of the target bundle are valid as defined in section 2B.2.2.1 of the PDS4 Standards Reference.</li>
          <li>Perform referential integrity checking among the target bundle and its members.</li>
          <li>Verify that the LID of the bundle is used as the base of the LIDs of collections that are members of the bundle.</li>
        </ul>
        
        <p>The following example demonstrates running the tool using the PDS4 Bundle validation rules on a target bundle:
        </p>
        
        <source>
%> validate /home/pds/dph_example_archive_VG2PLS -R pds4.bundle
        </source>
        
        <p>Note that the <i>-e</i> flag option to filter on specific files is ignored when validating under the <i>pds4.bundle</i> rules.
        </p>
        
        <p><b><i>pds3.volume</i></b></p>
        
        <p>The <i>pds3.volume</i> validation rule allows the Validate Tool to perform PDS3 volume validation on a target directory. Currently, only local targets are supported for this validation rule.
        </p>
        
        <p>The following example demonstrates running the tool against a PDS3 volume:
        </p>
        
        <source>
%> validate /home/pds/VG2-J-PLS-5-SUMM-ELE-MOM-96.0SEC-V1.0 -R pds3.volume
        </source>
        
      </subsection>

      <subsection name="Referential Integrity Checking">
        <p>The Validate Tool performs referential integrity checking within a given target directory when the <i>pds4.collection</i> or <i>pds4.bundle</i> validation rules are applied to a validation run (via the <i>-R, --rule</i> flag option). Assuming that the target directory points to a full PDS4 bundle, the following referential integrity checks are made as the tool validates each product:
        </p>

        <p>For Bundle products,
        </p>

        <ul>
          <li>Verify that each Collection member of a Bundle is present within the given target.</li>
          <li>Verify that each Collection member of a Bundle is referenced only once within the given target.</li>
        </ul>

        <p>For Collection products,
        </p>

        <ul>
          <li>Verify that each Collection product is referenced by a Bundle product within the given target.</li>
          <li>Verify that each Product member of a Collection is present within the given target.</li>
          <li>Verify that each Product member of a Collection is referenced only once within the given target.</li>
        </ul>

        <p>All other products are assumed to be members of a Collection. So for these, the tool will verify that each product is referenced by a Collection product within the given target.
        </p>

        <p>It is important to note that the tool only performs referential integrity checking on the targets that the tool is given. As an example, it is fine to specify a target directory that contains just a Collection product and its members:
        </p>

        <source>
% validate ${HOME}/bundle/collection -R pds4.collection
        </source>

        <p>In this case, the tool will not report that the given Collection is not referenced by a Bundle product.
        </p>

        <p>Another thing to note is that the report will record verified references under the <i>INFO</i> message severity level. So in order to see these messages, run the tool with the verbose level set to <i>1</i> to produce a report with the INFO messages. The following command demonstrates running the tool with the severity level set to <i>INFO</i> and above:
        </p>

        <source>
% validate ${HOME}/bundle1 -R pds4.bundle -v1
        </source>

        <p>Below is a snippet of an example report of a validation run using the pds4.bundle rules and the severity level set to <i>INFO</i> and above:
        </p>

        <source>
        ...

PDS4 Bundle Level Validation Results

  PASS: file:/home/pds4/dph_example_archive_VG2PLS/browse/Collection_browse.xml
      INFO  The member 'urn:nasa:pds:example.dph.sample_archive_bundle:browse:ele_mom::1.0' is identified in the following product: \
      file:/home/pds4/dph_example_archive_VG2PLS/browse/ele_mom_browse.xml
      INFO  Identifier 'urn:nasa:pds:example.dph.sample_archive_bundle:browse::1.0' is a member of \
      'file:/home/pds4/dph_example_archive_VG2PLS/bundle.xml'

  PASS: file:/home/pds4/dph_example_archive_VG2PLS/context/Collection_context.xml
      INFO  The member 'urn:nasa:pds:context:instrument_host:spacecraft.vg2::1.0' is identified in the following product: \
      file:/home/pds4/dph_example_archive_VG2PLS/context/PDS4_host_VG2_1.0.xml
      INFO  The member 'urn:nasa:pds:context:instrument:pls.vg2::1.0' is identified in the following product: \
      file:/home/pds4/dph_example_archive_VG2PLS/context/PDS4_inst_PLS_VG2_1.0.xml
      INFO  The member 'urn:nasa:pds:context:investigation:mission.voyager::1.0' is identified in the following product: \
      file:/home/pds4/dph_example_archive_VG2PLS/context/PDS4_mission_VOYAGER_1.0.xml
      INFO  The member 'urn:nasa:pds:context:target:planet.jupiter::1.0' is identified in the following product: \
      file:/home/pds4/dph_example_archive_VG2PLS/context/PDS4_target_JUPITER_1.0.xml
      INFO  Identifier 'urn:nasa:pds:example.dph.sample_archive_bundle:context::1.0' is a member of \
      'file:/home/pds4/dph_example_archive_VG2PLS/bundle.xml'
        ...
        
        </source>

        <p>In the case that 2 targets are specified on the command line, the tool will treat each target as a separate entity when performing referential integrity checking. As an example, the following command demonstrates performing referential integrity on 2 different bundles:
        </p>

        <source>
% validate ${HOME}/bundle1, ${HOME}/bundle2 -R pds4.bundle
        </source>

        <p>The tool will perform referential integrity checking within the products located in the <i>${HOME}/bundle1</i> target, then will perform referential integrity checking within the products located in the <i>${HOME}/bundle2</i> target. In other words, the tool will not cross over to the <i>${HOME}/bundle2</i> directory to find LID/LIDVID references of a product in the <i>${HOME}/bundle1</i> directory.
        </p>
      </subsection>

      <subsection name="Checksum Manifest File Validation">
        <p>When a Checksum Manifest file is passed into the tool, the generated checksum value of a file is compared against the supplied value in the Manifest file.
        </p>
        
        <p>The dph example archive bundle, which can be downloaded from the <a href="https://pds.nasa.gov/pds4/doc/examples/">PDS web site</a>, contains an example of how a Checksum Manifest file could look like:
        </p>
        
        <source>
97a7569daeaacf57b5abceca57bdca43  .\Product_Bundle.xml
e7da7276dd553f30496b868a2007bf5b  .\README.TXT
84f68c7706f379c401e2f8e08a82edea  .\browse\Collection_browse.xml
bcb852a6a9292e304a93668e6cc2068c  .\browse\Collection_browse_inventory.tab
3ff61c98cbed11e99690f76b5f6831b0  .\browse\ELE_MOM.PDF
f2e5969b0f1a0f54e530e416b7f5d54a  .\browse\ele_mom_browse.xml
76d6463510bc48233d65b46d08087ef8  .\context\Collection_context.xml
b8f5301ad7c868c76f0e627f0da19aed  .\context\Collection_context_inventory.tab
c226a6a0867e003696a752b8c24e56f3  .\context\PDS4_host_VG2_1.0.xml
...
        </source>
        
        <p>It is importatnt to note that the tool supports either absolute or relative file references specified in a Checksum Manifest file. In the event that the file references are relative paths, the tool assumes that the target root is the base path of these file references. The <i>Parameter</i> section of the Validate Tool Report will indicate the base path that the tool uses to resolve relative file references in a Manifest file. This is found under the setting <i>Manifest File Base Path</i>.
        </p>
        
        <p>The following command demonstrates performing Checksum Manifest file validation against the dph example archive bundle using its manifest file <i>bundle_checksums.txt</i>: 
        </p>
        
        <source>
% validate /home/pds4/dph_example_archive_VG2PLS -M /home/pds4/dph_example_archive_VG2PLS/bundle_checksums.txt
        </source>
        
        <p>In the example above, the base path of the file references in the <i>bundle_checksums.txt</i> file is assumed to be <i>/home/pds4/dph_example_archive_VG2PLS</i>.
        </p>
        
        <p>Another use case is doing checksum manifest file validation on a sub-directory of a bundle. Using the dph example archive bundle example, we would need to tell the tool to use a different base than the target root since the file references in the <i>bundle_checksums.txt</i> file would not match up with the target sub-directory. This can be done using the <i>-B</i> flag option. The following command demonstrates performing Checksum Manifest file validation on a a sub-directory of the dph example archive bundle:
        </p>
        
        <source>
% validate /home/pds4/dph_example_archive_VG2PLS/browse -M /home/pds4/dph_example_archive_VG2PLS/bundle_checksums.txt -B /home/pds4/dph_example_archive_VG2PLS
        </source>
        
        <p>In the command line example above, the base path is set to <i>/home/pds4/dph_example_archive_VG2PLS</i>.
        </p>
        
        <p>In the event that multiple targets are specified when performing checksum manifest file validation, the <i>-B</i> flag option must be specified. Continuing with the dph example archive bundle example, the following command demonstrates Checksum Manifest file validation on multiple sub-directories of the bundle:
        </p>

        <source>
% validate /home/pds4/dph_example_archive_VG2PLS/browse, /home/pds4/dph_example_archive_VG2PLS/context \ 
-M /home/pds4/dph_example_archive_VG2PLS/bundle_checksums.txt \
-B /home/pds4/dph_example_archive_VG2PLS
        </source>
        
      </subsection>

      <subsection name="Using an XML Catalog">
        <p>An XML Catalog allows the user to describe a mapping between external entity references in their products and locally-available XML Schema and Schematron documents. This section details some of the ways that the Catalog file can be set up that should support most use-case scenarios. The examples can be used to validate the <i>ele_mom_tblChar.xml</i> product label that can be found in the Data Provider's Handbook (DPH) example bundle, which is made available at the <a href="https://pds.nasa.gov/pds4/doc/examples/">PDS website</a>.
        </p>

        <p><b><i>Mapping Label-Defined Schemas and Schematrons to Local Copies</i></b></p>
        
        <p>The following is an example of an XML Catalog that maps schemas and schematrons defined in the product label to local copies:
        </p>
        
        <source>
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;catalog xmlns="urn:oasis:names:tc:entity:xmlns:xml:catalog"&gt;
    &lt;group xml:base="file:///home/pds/dph_example_archive_VG2PLS/xml_schema/"&gt;
        &lt;uri name="https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1700.xsd"
            uri="PDS4_PDS_1700.xsd"/&gt;
        &lt;uri name="https://pds.nasa.gov/pds4/dph/v1/PDS4_DPH_1700.xsd"
            uri="PDS4_DPH_1700.xsd"/&gt;
        &lt;uri name="https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1700.sch"
            uri="PDS4_PDS_1700.sch"/&gt;
    &lt;/group&gt;
&lt;/catalog&gt;
        </source>

        <p>The <i>xml:base</i> attribute sets the top-level directory to where the local copies of the schemas and schematrons can be found. So, in this example, the <i>https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1700.xsd</i> schema maps to the local schema at <i>file:///home/pds/dph_example_archive_VG2PLS/xml_schema/PDS4_PDS_1700.xsd</i>. Note that the <i>xml:base</i> attribute value must end in the backslash '<i>/</i>' character in order for the tool to properly resolve the URI references set in the Catalog file. 
        </p>

        <p><b><i>Mapping Namespaces to Local Copies of Schemas</i></b></p>

        <p>The following is an example of an XML Catalog that maps namespaces defined in the product label to local copies of the Schemas:
        </p>

        <source>
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;catalog xmlns="urn:oasis:names:tc:entity:xmlns:xml:catalog"&gt;
  &lt;group xml:base="file:///home/pds/dph_example_archive_VG2PLS/xml_schema/"&gt;
    &lt;uri name="http://pds.nasa.gov/pds4/pds/v1"
         uri="PDS4_PDS_1700.xsd"/&gt;
    &lt;uri name="http://pds.nasa.gov/pds4/dph/v1"
         uri="PDS4_DPH_1700.xsd"/&gt;
    &lt;uri name="https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1700.sch"
         uri="PDS4_PDS_1700.sch"/&gt;
  &lt;/group&gt;
&lt;/catalog&gt;
        </source>
        
        <p>In this example, the namespace <i>http://pds.nasa.gov/pds4/pds/v1</i> maps to the schema <i>file:///home/pds/dph_example_archive_VG2PLS/xml_schema/PDS4_PDS_1700.xsd</i>.
        </p>
        
        <p><b><i>Mapping Many Schemas At Once</i></b></p>
        
        <p>The following is an example of an XML Catalog that maps many Schemas and Schematrons at once based on a common initial substring in those URIs:
        </p>
        
        <source>
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;catalog xmlns="urn:oasis:names:tc:entity:xmlns:xml:catalog"&gt;
    &lt;rewriteURI uriStartString="https://pds.nasa.gov/pds4/pds/v1" 
                   rewritePrefix="file:///home/pds/dph_example_archive_VG2PLS/xml_schema"/&gt;
    &lt;rewriteURI uriStartString="https://pds.nasa.gov/pds4/dph/v1" 
                   rewritePrefix="file:///home/pds/dph_example_archive_VG2PLS/xml_schema"/&gt;  
&lt;/catalog&gt;
        </source>
        
        <p>The <i>uriStartString</i> represents the prefix to look for in the product label. The <i>rewritePrefix</i> is the replacement string in order to resolve the URI reference. So in this example, the first entry maps the <i>https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1700.xsd</i> schema in the product label to <i>file:///home/pds/dph_example_archive_VG2PLS/xml_schema/PDS4_PDS_1700.xsd</i> and maps the <i>https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1700.sch</i> schematron to <i>file:///home/pds/dph_example_archive_VG2PLS/xml_schema/PDS4_PDS_1700.sch</i>.
        </p>
        
        <p><b><i>Passing References to Another Catalog</i></b></p>
        
        <p>The following example of an XML Catalog file passes off the DPH URI reference off to another XML Catalog named <i>XMLCatalog_dph.xml</i> for resolution:
        </p>
        
        <source>
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;catalog xmlns="urn:oasis:names:tc:entity:xmlns:xml:catalog"&gt;
    &lt;delegateURI uriStartString="https://pds.nasa.gov/pds4/dph/v1" 
                 catalog="file:///home/pds/catalog/dph/XMLCatalog_dph.xml"/&gt;
    &lt;rewriteURI uriStartString="https://pds.nasa.gov/pds4/pds/v1" 
                rewritePrefix="file:///home/pds/dph_example_archive_VG2PLS/xml_schema"/&gt; 
&lt;/catalog>
        </source>
        
        <p>The <i>XMLCatalog_dph.xml</i> would contain the following:
        </p>
        
        <source>
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;catalog xmlns="urn:oasis:names:tc:entity:xmlns:xml:catalog"&gt;
    &lt;rewriteURI uriStartString="https://pds.nasa.gov/pds4/dph/v1" 
                rewritePrefix="file:///home/pds/dph_example_archive_VG2PLS/xml_schema"/&gt;  
&lt;/catalog&gt;
        </source>
        
        <p>In the first example, the <i>uriStartString</i> value in the <i>delegateURI</i> element matches the <i>https://pds.nasa.gov/pds4/dph/v1/PDS4_DPH_1700.xsd</i> DPH schema in the product label, so the tool passes this off to the <i>XMLCatalog_dph.xml</i> for resolution.
        </p>
        
      </subsection>

      <subsection name="Using a Configuration File">
        <p>A configuration file is an alternative way to set the different behaviors of the tool instead of the command-line option flags. It consists of a text file made up of keyword/value pairs. The configuration file follows the syntax of the stream parsed by the Java Properties.load(java.io.InputStream) method.
        </p>

        <p>Some of the important syntax rules are as follows:
        </p>

        <ul>
          <li>Blank lines and lines which begin with the hash character "#" are ignored.</li>
          <li>Values may be separated on different lines if a backslash is placed at the end of the line that continues below.</li>
          <li>Escape sequences for special characters like a line feed, a tabulation or a unicode character, are allowed in the values and are specified in the same notation as those used in Java strings (e.g. \n, \t, \r).</li>
        </ul>

        <p>Since backslashes (\) have special meanings in a configuration file, keyword values that contain this character will not be interpreted properly by the Validate Tool even if it is surrounded by quotes. A common example would be a Windows path name (e.g. c:\pds\collection). Use the forward slash character instead (c:/pds/collection) or escape the backslash character (c:\\pds\\collection).
        </p>

        <p>Note: Any flag specified on the command-line takes precedence over any equivalent settings placed in the configuration file.
        </p>

        <p>The following table contains valid keywords that can be specified in the configuration file:</p>
        <table>
          <tr><th>Property Keyword</th><th>Property Value</th><th>Associated Command-Line Option</th></tr>
          <tr><td>validate.target</td><td>[files,dirs]</td><td>-t, --target</td></tr>
          <tr><td>validate.rule</td><td>[validation rule name]</td><td>-R, --rule</td></tr>
          <tr><td>validate.checksum</td><td>[file]</td><td>-M, --checksum-manifest</td></tr>
          <tr><td>validate.basePath</td><td>[path]</td><td>-B, --base-path</td></tr>
          <tr><td>validate.catalog</td><td>[catalog files]</td><td>-C, --catalog</td></tr>
          <tr><td>validate.schema</td><td>[schema files]</td><td>-x, --xsd</td></tr>
          <tr><td>validate.schematron</td><td>[schematron files]</td><td>-S, --schematron</td></tr>
          <tr><td>validate.noDataCheck</td><td>true</td><td>-D, --no-data-check</td></tr>
          <tr><td>validate.spotCheckData</td><td>[number]</td><td>--spot-check-data</td></tr>
          <tr><td>validate.allowUnlabeledFiles</td><td>true</td><td>--allow-unlabeled-files</td></tr>
          <tr><td>validate.report</td><td>[file name]</td><td>-r, --report-file</td></tr>
          <tr><td>validate.verbose</td><td>[1|2|3]</td><td>-v, --verbose</td></tr>
          <tr><td>validate.reportStyle</td><td>[full|json|xml]</td><td>-s, --report-style</td></tr>
          <tr><td>validate.regexp</td><td>[patterns]</td><td>-e, --regexp</td></tr>
          <tr><td>validate.local</td><td>true</td><td>-L, --local</td></tr>
          <tr><td>validate.model</td><td>[version]</td><td>-m, --model-version (DEPRECATED)</td></tr>
          <tr><td>validate.force</td><td>true</td><td>-f, --force (DEPRECATED)</td></tr>
          <tr><td>validate.maxErrors</td><td>[number]</td><td>-E, --max-errors</td></tr>
		  <tr><td>validate.updateContextProducts</td><td>true</td><td>-u,--update-context-products</td></tr>
		  <tr><td>validate.addContextProducts</td><td>[dir/files]</td><td>--add-context-products</td></tr>
		  <tr><td>validate.skipContextValidation</td><td>true</td><td>--skip-context-validation</td></tr>
		  <tr><td>validate.targetListFile</td><td>[dir/file]</td><td>--target-list-file</td></tr>
        </table>
        <p>The following example demonstrates how to set a configuration file:
        </p>

        <source>
# This is a Validate Tool configuration file

validate.target = ./collection
validate.report = report.txt
validate.regexp = "*.xml"
        </source>

        <p>This is equivalent to running the tool with the following flags:
        </p>

        <source>
-t ./collection -e "*.xml" -r report.txt
        </source>

        <p>The following example demonstrates how to set a configuration file with multiple values for a keyword:
        </p>
        <source>
# This is a Validate Tool configuration file with multiple values

validate.target = product.xml, ./collection
validate.regexp = "*.xml", "Mars*"
        </source>

        <p>This is equivalent to running the tool with the following flags:
        </p>

        <source>
-t product.xml, ./collection -e "*.xml", "Mars*"
        </source>

        <p>The following example demonstrates how to set a configuration file with multiple values that span across multiple lines:
        </p>

        <source>
# This is a Validate configuration file with multiple values
# that span across multiple lines

validate.target = product.xml, \
                  ./collection
validate.regexp = "*.xml", \
                  "Mars*"
        </source>

        <p>As previously mentioned, any flag options set on the command-line will overwrite settings set in the configuration file. The following example demonstrates how to override a setting in the configuration file.
        </p>

        <p>Suppose the configuration file named <i>config.txt</i> is defined as follows:
        </p>
        <source>
validate.target = ./collection
validate.regexp = "*.xml"
        </source>

        <p>This configuration allows the tool to validate files with a <i>.xml</i> extension in the <i>collection</i> directory. To change the behavior to validate all files instead of just files ending in <i>.xml</i>, then specify the <i>regexp</i> flag option on the command-line to overwrite the <i>validate.regexp</i> property:
        </p>
        <source>
% validate -c config.txt -e "*"
        </source>
      </subsection>

      <subsection name="Passing in Multiple Schemas">
        <p>The Validate Tool allows multiple XML Schemas to be passed in through the command-line via the <i>-x</i> flag option. When passing in multiple schemas, the definitions found in each file are merged internally. In the case where two schemas are passed in and both define the same element under the same namespace, then the definition in the first schema passed in will take precedence over the second schema. As an example, suppose a schema file, <i>schema1.xsd</i>, contains the following definition:
        </p>

        <source>
&lt;xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://pds.nasa.gov/pds4/pds/v1"
  xmlns:pds="http://pds.nasa.gov/pds4/pds/v1"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  version="1.1.0.0"&gt;

...

&lt;xs:complexType name="File_Area_Browse"&gt;
  &lt;xs:annotation&gt;
    &lt;xs:documentation&gt; The File Area Browse class describes a file and one or more tagged_data_objects contained within the file. &lt;/xs:documentation&gt;
  &lt;/xs:annotation&gt;
  &lt;xs:complexContent&gt;
    &lt;xs:extension base="pds:File_Area"&gt;
      &lt;xs:sequence&gt;
        &lt;xs:element name="File" type="pds:File" minOccurs="1" maxOccurs="1"&gt; &lt;/xs:element&gt;
        &lt;xs:choice minOccurs="1" maxOccurs="unbounded"&gt;
          &lt;xs:element name="Array_1D" type="pds:Array_1D"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Array_2D" type="pds:Array_2D"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Array_2D_Image" type="pds:Array_2D_Image"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Array_2D_Map" type="pds:Array_2D_Map"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Array_2D_Spectrum" type="pds:Array_2D_Spectrum"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Array_3D" type="pds:Array_3D"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Array_3D_Image" type="pds:Array_3D_Image"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Array_3D_Movie" type="pds:Array_3D_Movie"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Array_3D_Spectrum" type="pds:Array_3D_Spectrum"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Encoded_Header" type="pds:Encoded_Header"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Encoded_Image" type="pds:Encoded_Image"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Header" type="pds:Header"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Stream_Text" type="pds:Stream_Text"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Table_Binary" type="pds:Table_Binary"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Table_Character" type="pds:Table_Character"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Table_Delimited" type="pds:Table_Delimited"&gt; &lt;/xs:element&gt;
        &lt;/xs:choice&gt;
      &lt;/xs:sequence&gt;
    &lt;/xs:extension&gt;
  &lt;/xs:complexContent&gt;
&lt;/xs:complexType&gt;

...
        </source>

        <p>Suppose the other schema, <i>schema2.xsd</i>, contains the same element definition:
        </p>

        <source>
&lt;xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://pds.nasa.gov/pds4/pds/v1"
  xmlns:pds="http://pds.nasa.gov/pds4/pds/v1"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  version="1.0.0.0"&gt;

...

&lt;xs:complexType name="File_Area_Browse"&gt;
  &lt;xs:annotation&gt;
    &lt;xs:documentation&gt; The File Area Browse class describes a file and one or more tagged_data_objects contained within the file. &lt;/xs:documentation&gt;
  &lt;/xs:annotation&gt;
  &lt;xs:complexContent&gt;
    &lt;xs:extension base="pds:File_Area"&gt;
      &lt;xs:sequence&gt;
        &lt;xs:element name="File" type="pds:File" minOccurs="1" maxOccurs="1"&gt; &lt;/xs:element&gt;
        &lt;xs:choice minOccurs="1" maxOccurs="unbounded"&gt;
          &lt;xs:element name="Array_2D" type="pds:Array_2D"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Array_2D_Image" type="pds:Array_2D_Image"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Array_2D_Map" type="pds:Array_2D_Map"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Array_2D_Spectrum" type="pds:Array_2D_Spectrum"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Array_3D" type="pds:Array_3D"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Array_3D_Image" type="pds:Array_3D_Image"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Array_3D_Movie" type="pds:Array_3D_Movie"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Array_3D_Spectrum" type="pds:Array_3D_Spectrum"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Encoded_Header" type="pds:Encoded_Header"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Encoded_Image" type="pds:Encoded_Image"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Header" type="pds:Header"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Stream_Text" type="pds:Stream_Text"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Table_Binary" type="pds:Table_Binary"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Table_Character" type="pds:Table_Character"&gt; &lt;/xs:element&gt;
          &lt;xs:element name="Table_Delimited" type="pds:Table_Delimited"&gt; &lt;/xs:element&gt;
        &lt;/xs:choice&gt;
      &lt;/xs:sequence&gt;
    &lt;/xs:extension&gt;
  &lt;/xs:complexContent&gt;
&lt;/xs:complexType&gt;

...
        </source>

        <p>If the schemas are passed into the Validate Tool as follows:
        </p>

        <source>
% validate product.xml -x schema1.xsd, schema2.xsd
        </source>

        <p>then the <i>File_Area_Browse</i> definition from the <i>schema1.xsd</i> file takes precedence over the <i>schema2.xsd</i> file. If it was passed into the tool in the reverse order, then the <i>File_Area_Browse</i> definition in the <i>schema2.xsd</i> file will take precedence over the one in the <i>schema1.xsd</i> file.
        </p>
      </subsection>
            	
      <subsection name="Context Product Reference Validation">	
        <p>The <i>resources/</i> folder in the Validate Tool Release Package contains a JSON-formatted file that contains a list intended to represent a snapshot of the Context Product LIDVIDs (Logical Identifier/Version Identifier) currently registerd at the PDS Engineering Node. This file is read in at execution time so that the tool can validate that Context Products referenced in a product label exist within this supplied list. In the event that you would like the tool to check for additional Context Products that are not a part of this supplied list, simply edit the <i>resources/registered_context_products.json</i> file and add to the existing list.	
        </p>	
      </subsection>
    </section>

    <section name="Report Format">
      <p>This section describes the contents of the Validate Tool report. The links below detail the validation results of the same run for each format.
      </p>

      <p>The tool can represent a validation report in three different formats: a full, XML, or JSON format. The report style option is used to change the formatting. When this option is not specified on the command-line, the default is to generate a full report.
      </p>

      <subsection name="Full Report">
        <p>In a <a href="reports/index-full.html">full</a> report, the location, severity, message type, and textual description of each detected anomaly is reported. A 'PASS', 'FAIL', or 'SKIP' keyword is displayed next to each file to indicate when a file has passed, failed, or skipped PDS validation, respectively. A summary is printed at the end indicating the total number of warnings and errors, followed by a summary of each of the different message types that were found in the validation run.
        </p>
      </subsection>

      <subsection name="XML Report">
        <p>In an <a href="reports/index-xml.html">XML</a> report, the contents are the same as the full report.
        </p>
      </subsection>

      <subsection name="JSON Report">
        <p>In a <a href="reports/index-json.html">JSON</a> report, the contents are the same as the full report.
        </p>
      </subsection>
    </section>

    <section name="Common Errors">
      <p>See <a href="errors.html">Common Errors</a> page for more details.</p>
    </section>
    
    <section name="Performance">
      <p>Validate does a lot of varying checks on products from the schema/schematron checks to the ensuring the validity the actual product content.
      We are continuing to improve performance of the software, but there are also things you can do to split up execution in order to maximize your computer's
      processing power to speed up performance.</p>
      
      <subsection name="Metrics">
        <p>To give you a sense of how long it would take to validate individual products with content validation enabled, the following are
        are a few benchmarks for validate performance. These times are rough estimates subject to local operating system. Please contact
        <a href="mailto:pds_operator@jpl.nasa.gov">Engineering Node</a> if these times are significantly different from your execution times:</p>
        
        <table>
          <tr><th colspan="4">Content Validation <i>Enabled</i></th></tr>
          <tr><th>Number of Products</th><th>Avg. Product Size (MB)</th><th>Total Time to Completion</th><th>Avg. Time/Product</th></tr>
          <tr><td>1</td><td>4</td><td>4s</td><td>4s</td></tr>
          <tr><td>1</td><td>10</td><td>6s</td><td>6s</td></tr>
          <tr><td>1</td><td>50</td><td>7s</td><td>7s</td></tr>
          <tr><td>1</td><td>4800</td><td>600s</td><td>600s</td></tr>
          <tr><td>1</td><td>0.1</td><td>11.069s</td><td></td></tr>
          <tr><td>1</td><td>3</td><td>17.208s</td><td></td></tr>	
		  <tr><td>1</td><td>30</td><td>21.792s,21.591s</td><td></td></tr>	
		  <tr><td>1</td><td>120</td><td>30.029s,30.291s</td><td></td></tr>	
		  <tr><td>1</td><td>4945</td><td>43.988s</td><td></td></tr>	
		  <tr><td>40</td><td>3.44</td><td>77.554s</td><td>1.9s</td></tr>
		  <tr><td>151</td><td>18.98</td><td>469.003s,464.861s</td><td>3.1s</td></tr>
		  <tr><td>541</td><td>7</td><td>901.993s,890.327s</td><td>1.68s</td></tr>
		  <tr><td>925</td><td>9.3</td><td>1734.853s,1732.398s</td><td>1.88s</td></tr>
		  <tr><td>4099</td><td>10.49</td><td>8629.407s</td><td>2.10s</td></tr>
          <tr><td>23189</td><td>8.2</td><td>82105s (~23h)</td><td>3.5s</td></tr>
          <tr><th colspan="4">Content Validation <i>Disabled</i> (--no-data-check)</th></tr>
          <tr><th>Number of Labels</th><th>Avg. Label Size (KB)</th><th>Total Time to Completion</th><th>Avg. Time/Label</th></tr>
          <tr><td>151</td><td>40</td><td>215s</td><td>1.4s</td></tr>
          <tr><td>1347</td><td>40</td><td>1655s</td><td>1.2s</td></tr>
          <tr><td>22164</td><td>40</td><td>47160s</td><td>2.1s</td></tr>
          <tr><th colspan="4">Content Validation <i>Disabled</i> (--skip-content-validation)</th></tr>
          <tr><th>Number of Products</th><th>Avg. Product Size (MB)</th><th>Total Time to Completion</th><th>Avg. Time/Product</th></tr>
          <tr><td>1</td><td>0.1</td><td>9.207s</td><td></td></tr>	
		  <tr><td>1</td><td>3</td><td>14.531s</td><td></td></tr>	
	      <tr><td>1</td><td>30</td><td>14.250s,14.228s</td><td></td></tr>	
          <tr><td>1</td><td>120</td><td>14.714s,14.533s</td><td></td></tr>	
          <tr><td>1</td><td>4945</td><td>30.445s,30.211s</td><td></td></tr>	
          <tr><td>40</td><td>3.44</td><td>45.010s</td><td>1.13s</td></tr>
          <tr><td>151</td><td>18.98</td><td>115.098s,114.192s</td><td>0.76s</td></tr>
		  <tr><td>541</td><td>7</td><td>334.860s,333.391s</td><td>0.62s</td></tr>
	      <tr><td>925</td><td>9.3</td><td>548.309s,552.169s</td><td>0.59s</td></tr>
		  <tr><td>4099</td><td>10.49</td><td>2326.820s</td><td>0.57s</td></tr>
		  <tr><td>22164</td><td>N/A</td><td>12323.288s</td><td>0.56s</td></tr>
          <tr><th colspan="4">Content Validation <i>Disabled</i> (--skip-content-validation) and using Catalog File (local schemas)</th></tr>
          <tr><th>Number of Labels</th><th>Avg. Label Size (KB)</th><th>Total Time to Completion</th><th>Avg. Time/Label</th></tr>
          <tr><td>151</td><td>40</td><td>196s</td><td>1.3s</td></tr>
          <tr><td>1347</td><td>40</td><td>1454s</td><td>1.1s</td></tr>
        </table>
      </subsection>
      
      <subsection name="Maximize Performance">
        <p>There are several flags added to validate so you can split out various parts and run multiple Validate executions to speed up the processing. Here is one example of how to 
        split up execution. There are other permutations you could do to improve performance, but this is one example:</p>
        <source>
          my_bundle/
          ├── bundle.xml
          ├── data
          │   ├── data_collection.tab
          │   ├── data_collection.xml
          │   ├── release1
          │   │   ├── file1.tab
          │   │   ├── file1.xml
          │   │   ├── file2.tab
          │   │   └── file2.xml
          │   ├── release2
          │   │   ├── file3.tab
          │   │   ├── file3.xml
          │   │   ├── file4.tab
          │   │   └── file4.xml
          │   └── release3
          │       ├── file5.tab
          │       ├── file5.xml
          │       ├── file6.tab
          │       └── file6.xml
          └── document
              ├── document_collection.tab
              └── document_collection.xml
        </source>
        <p>Here is how you could execute multiple validates to split out the work. <b>Note: Always make sure if you split out execution 
        that you execute Bundle Validation (pds4.bundle rule) and content validation.</b></p>
        <source>
          
# Execute bundle validation but only check bundle/collection validity and ignore the products
validate --skip-product-validation -R pds4.bundle -t my_bundle

# Make sure the labels are valid upon delivery but skip content validation until later since it takes longer
validate --no-check-data -R pds4.label -t my_bundle

# Point at several targets with different validate runs for parallelizing content validation
validate -R pds4.label -t my_bundle/document/*.xml
validate -R pds4.label -t my_bundle/release1/*.xml
validate -R pds4.label -t my_bundle/release2/*.xml
validate -R pds4.label -t my_bundle/release3/*.xml

# Or you could do the same thing with target manifests
validate -R pds4.label --target-manifest documents.txt
validate -R pds4.label --target-manifest release1_data.txt
validate -R pds4.label --target-manifest release2_data.txt
validate -R pds4.label --target-manifest release3_data.txt

        </source>
      </subsection>
    </section>
  </body>
</document>
