# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java#apache-maven-with-a-settings-path

name: Context Metadata Update

on:
  schedule:
    - cron:  '0 0 * * 0'

jobs:
  build:
    name: 'Update Context Products from Registry'
    runs-on: ubuntu-latest
    if: github.actor != 'pdsen-ci'

    steps:
    - uses: actions/checkout@v2
      with:
         lfs: true
         token: ${{ secrets.ADMIN_GITHUB_TOKEN }}
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD

    - name: Updating context product metadata
      run: |
        build/update_context.sh

        git config --local user.email "pdsen-ci@jpl.nasa.gov"
        git config --local user.name "PDSEN CI Bot"
        git pull origin master
        echo "update CHANGELOG.md and ${{ env.REQUIREMENT_FILE }} on master branch"
        git add CHANGELOG.md ${{ env.REQUIREMENT_FILE }}
        git commit -m "update context metadata with latest products" --allow-empty


    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.ADMIN_GITHUB_TOKEN }}
        branch: ${{ env.GITHUB_REF }}